<%- include('layout/header') -%>
<%- include('layout/nav') -%>
<main>
    <!--? slider Area Start-->
    <div class="slider-area ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container single-slider-container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md-9">
                            <div class="hero__caption">
                                <!-- <span data-animation="fadeInLeft" data-delay=".2s">Mamyam solo</span> -->
                                <h1 data-animation="fadeInLeft" data-delay=".4s">Kelezatan Ayam jadi Menu Istimewa!</h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">Ayam kami diolah dengan bumbu istimewa yang terbuat dari bahan premium untuk menjaga kualitas rasa istimewa</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn">
                                    <a href="/menu" class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s">Pesan Sekarang</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container single-slider-container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md-9">
                            <div class="hero__caption">
                                <!-- <span data-animation="fadeInLeft" data-delay=".2s">Mamyam solo</span> -->
                                <h1 data-animation="fadeInLeft" data-delay=".4s">Kesempurnaan Rasa Ayam Setiap Gigitan!</h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">Ayam kami diolah dengan bumbu istimewa yang terbuat dari bahan premium untuk menjaga kualitas rasa istimewa</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn">
                                    <a href="/menu" class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s">Pesan Sekarang</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!--? Our Services Start -->
    <div class="our-services section-padding30">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-70">
                        <span>Mamyam Solo</span>
                        <h2>Kami Berusaha memberikan yang terbaik</h2>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class=" col-lg-4 col-md-6 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-restaurant"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Koki Handal</a></h5>
                            <p>Semua Koki di Mamyam sudah melalui pelatihan sesuai dengan standar Perusahaan</p>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-6">
                    <div class="single-services active text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-tools-and-utensils-1"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Makanan Berkualitas</a></h5>
                            <p>Kami menjamin setiap masakan yang kami sajikan berkualitas tinggi termasuk bahannya</p>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-restaurant"></span>
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Rasa Istimewa</a></h5>
                            <p>Masakan Kami dibuat dengan bumbu yang citarasanya pas dengan lidah orang indonesia</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Services End -->
    <!--? Blog Area Start -->
    <section class="blogs-area section-padding30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-70">
                        <span>Artikel</span>
                        <h2>Artikel terbaru</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <% posts.forEach(function(post) { %>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-blogs mb-100">
                            <div class="blog-img">
                                <img src="assets/img/<%= post.thumbnail %>" alt="">
                            </div>
                            <div class="blog-cap">
                                <span class="color1"><%= post.date %></span>
                                <h4><a href="blog/<%= post.id %>"><%= post.title %></a></h4>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>
    <!-- Blog Area End -->
</main>
<%- include('layout/footermenu') -%>
<%- include('layout/footer') -%>