<%- include('layout/header') -%>
<%- include('layout/nav') -%>
<main>
    <!--? Hero Start -->
    <div class="slider-area ">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2">
                            <h2>Artikel</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <% if (notfound) { %>
                            <article class="blog_item">
                                <div class="blog_details">
                                    <h2 class="blog-head" style="color: #2d2d2d;">Artikel Tidak ditemukan</h2>
                                </div>
                            </article>
                            <!-- Code to display when the condition is true -->
                        <% } else { %>
                            <!-- Code to display when the condition is false -->
                            <% posts.forEach(function(post) { %>
                                <article id="blog-<%= post.id %>" class="blog_item">
                                    <div class="blog_item_img">
                                        <img class="card-img rounded-0" src="assets/img/<%= post.image %>" alt="">
                                        <a href="#" class="blog_item_date">
                                            <h3><%= post.dateParse.day %></h3>
                                            <p><%= post.dateParse.month %></p>
                                        </a>
                                    </div>
                                    <div class="blog_details">
                                        <a class="d-inline-block" href="/news/<%= post.id %>">
                                            <h2 class="blog-head" style="color: #2d2d2d;"><%= post.title %></h2>
                                        </a>
                                        <p><%= post.excerpt %></p>
                                        <ul class="blog-info-link">
                                            <li><a href="#"><i class="fa fa-user"></i><%= post.category %></a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 0 Comments</a></li>
                                        </ul>
                                    </div>
                                </article>
                            <% }) %>
                        <% } %>
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="/news" method="get">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" name="q" class="form-control" placeholder='Cari Judul'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Cari Judul'" value="<%= q %>">
                                        <div class="input-group-append">
                                            <button class="btns" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Cari</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title" style="color: #2d2d2d;">Instagram Feeds</h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="https://www.instagram.com/p/Cu-iDyvIV5G/">
                                        <img class="img-fluid" src="assets/img/feed/Cu-iDyvIV5G.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/Cu8Y-vNrH04/">
                                        <img class="img-fluid" src="assets/img/feed/Cu8Y-vNrH04.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/Cu5yi2iR4ox/">
                                        <img class="img-fluid" src="assets/img/feed/Cu5yi2iR4ox.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/CuvFSVFPnoW/">
                                        <img class="img-fluid" src="assets/img/feed/CuvFSVFPnoW.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/CuVxWFZseSe/">
                                        <img class="img-fluid" src="assets/img/feed/CuVxWFZseSe.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/CuN_qfsPR96/">
                                        <img class="img-fluid" src="assets/img/feed/CuN_qfsPR96.jpg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
</main>
<%- include('layout/footermenu') -%>
<%- include('layout/footer') -%>